/* Header */
/* Score Panel */
/* @media screen and (min-width) */
/* seperate game container, title container, score and timer container */
/* highlight and un-highlight cards that are in use */
/* style retry button */
/* style start button */
/* game background */
/* starting background */
/* card transitions */

/* body */
body {
    /* Background pattern from Subtle Patterns */
    background: url("img/gameplay_background_img.jpeg");

    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    /*one Em roughly ten pixels (16 x 62.5% = 10)*/
    font-size: 70.5%;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
  }
  
  header {
    color: black;
    background-color:  white;
    width: center;
    
    
  }
  .start-game {
    display: block;
    width: 100%;
    font-size: px;
    border: none;
    padding: 0px 0px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    min-width: 240px;
  };